
@keyframes wiggle-cross {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, 50px);
  }

}

@keyframes wiggle-cross-2 {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, 40px);
  }

}

@keyframes wiggle-cross-3 {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, -30px);
  }

}

.wiggle-cross {
  animation: 10s wiggle-cross 3s infinite ease-in-out;
}

.wiggle-cross-2 {
  animation: 10s wiggle-cross-2 infinite ease-in-out;
}

.wiggle-cross-3 {
  animation: 10s wiggle-cross-3 2s infinite ease-in-out;
}